body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background: #222;
  color: white;
  text-align: center;
  padding: 40px;
}

button {
  padding: 10px 20px;
  border: none;
  background: red;
  cursor: pointer;
  border-radius: 5px;
}

.card {
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 15px;
  background: #222;
  color: white;
}